body{
    margin: 0px;
    background-color: rgb(31,31,31);
    font-family: 'Montserrat','Avenier';
    
}


#logo{
    background-color:rgb(59,118,169);
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    
}

#logo h2{
    margin: 0px;
    font-weight: normal;
    line-height: 1.1;

}

.selectedLevel{
    color:white !important;
    background: rgb(59,118,169) !important;
}

input[type="button"]{
    background: none;
    /* backgroundColor: white; */
    border: none;
    height: 100%;
    color:rgb(59,118,169);
    font-size: inherit;
    font-weight: bolder;
    letter-spacing: 1px; 
    transition: all 0.3s;
    outline:none;
}

input[type="button"]:hover{
    color:white;
    background: rgb(59,118,169);
}

#message{
    display: inline-block;
    width: 20%;
    text-align: center;
}

#targetColor{
    font-size: 400%;
    line-height: 1.1;
}

#gameOptions{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}



#container{
    max-width:600px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    border-radius: 15%;
    width: 30%;
    padding-bottom: 30%;
    background-color: blue;
    margin: 1.66%;
    float:left;
    transition: background 0.6s;
}
